<section class="login-container">
  {{ user$ | async | json}}

  <h1>Login to Your Account</h1><br>
  <form autocomplete="off" novalidate [formGroup]="form" (submit)="login()">
    <input type="email" name="user" placeholder="Email address" formControlName="email">
    <input type="password" name="pass" placeholder="Password" formControlName="password">
    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
  </form>

  <div class="login-help">
    <a href="#">Register</a> - <a href="#">Forgot Password</a>
  </div>
  <div class="login-help">
    <button (click)="loginWithGoogle()">Login with Google</button>
  </div>
</section>